<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function() {
        $('body').delay(100).animate({
            scrollTop: $(document).height()
        },1500);
        /*
         //animationする必要がなければ
         setTimeout(function() {
         window.scroll(0,$(document).height());
         },0);
         */
    });
    // Enable pusher logging - don't include this in production
    Pusher.log = function (message) {
        if (window.console && window.console.log) {
            window.console.log(message);
        }
    };

    var pusher = new Pusher('0c30fd7ef30e68da3788');
    //    var channel = pusher.subscribe('general_channel');
    var channel = pusher.subscribe('food' + <%= @talk_id %> + '_channel');
    channel.bind('chat_event', function (data) {
        console.log(data);
        var messagelog = document.getElementById('messagelog');
        var messagediv = document.createElement('div');
        var messageImage = document.createElement('img');
        messageImage.src = data.image_path;
        messageImage.width = 50;
        messageImage.height = 50;
        messagediv.innerHTML = data.message + ' @' + data.name;
        messagediv.appendChild(messageImage);
        messagelog.appendChild(messagediv);
        $('.input_field').val('');

        $('body').delay(100).animate({
            scrollTop: $(document).height()
        },150);
    });
</script>
<div class="room-title"><%= @talk.title %></div>
<div id='messagelog'>
  <% unless @foods.nil? %>
      <% @foods.each do |food| %>
          <div>
            <%= food.message %> @<%= food.user.name %>
            <% if food.user.image? %><%= image_tag food.user.image.thumb.url, size: '50x50' %>
            <% else %><%= image_tag 'thumb_default.png', size: '50x50' %>
            <% end %>
          </div>
      <% end %>
  <% end %>
</div>

<%= form_tag('/post', :remote => true, :class => 'ws_form') do %>
    <%= hidden_field_tag 'talk_id', @talk_id %>
    <%= text_field_tag 'message', '', class: 'input_field' %>
    <%= submit_tag '送信', id: 'submit' %>
<% end %>
