<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        var fit_w = function() {
            var txt_area = $('#txt_a');
            var s_w = $('#submit-btn').width();
            var b_w = $(window).width();
            txt_area.width(b_w - s_w);
        };
        fit_w();
        $(window).on('load resize', function () {
            fit_w();
        });

        $('body').delay(100).animate({
            scrollTop: $(document).height()
        }, 1500);
        /*
         //animationなし
         setTimeout(function() {
         window.scroll(0,$(document).height());
         },0);
         */

        var chat_text_area = $(".input_field");
        chat_text_area.height(30);//init
        chat_text_area.css("lineHeight", "20px");//init

        chat_text_area.on("input", function (evt) {
            console.log($(evt.target).height());
            console.log('scH' + evt.target.scrollHeight);
            console.log('osH' + evt.target.offsetHeight);
            if ($(evt.target).height() < 100) {
                if (evt.target.scrollHeight > evt.target.offsetHeight) {
                    $(evt.target).parent().height(evt.target.scrollHeight);
                    $(evt.target).height(evt.target.scrollHeight - 6);
                } else {
                    var lineHeight = Number($(evt.target).css("lineHeight").split("px")[0]);
                    while (true) {
                        $(evt.target).height($(evt.target).height() - lineHeight);
                        if (evt.target.scrollHeight > evt.target.offsetHeight) {
                            $(evt.target).parent().height(evt.target.scrollHeight);
                            $(evt.target).height(evt.target.scrollHeight - 6);
                            break;
                        }
                    }
                }
                if ($(evt.target).height() <= 30) {
                    $(evt.target).parent().height(36);
                    $(evt.target).height(30);
                }
            }
        });
    });
    // Enable pusher logging - don't include this in production
    Pusher.log = function (message) {
        if (window.console && window.console.log) {
            window.console.log(message);
        }
    };

    var pusher = new Pusher('0c30fd7ef30e68da3788');
    //    var channel = pusher.subscribe('general_channel');
    var channel = pusher.subscribe('food' + <%= @talk_id %> +'_channel');
    channel.bind('chat_event', function (data) {
        console.log(<%= current_user.id %>);
        console.log(data.user_id);
        if (data.user_id == <%= current_user.id %>) {
            var messagelogmy = document.getElementById('messagelog');
            var messagedivmy = document.createElement('div');
            var messagedivArrmy = document.createElement('div');
            var messagedivKakkomy = document.createElement('div');
            var messagePmy = document.createElement('p');

            messagedivArrmy.classList.add('arrow');
            messagedivKakkomy.classList.add('jibun');
            messagePmy.innerHTML = data.message;
            messagedivmy.innerHTML = data.message + ' @' + data.name;

            messagedivKakkomy.appendChild(messagePmy);
            messagedivmy.appendChild(messagedivArrmy);
            messagelogmy.appendChild(messagedivKakkomy);
            $('.input_field').val('');

            $('body').delay(100).animate({
                scrollTop: $(document).height()
            }, 150);

        } else {
            var messagelog = document.getElementById('messagelog');
            var messagediv = document.createElement('div');
            var messageImage = document.createElement('img');
            var messageName = document.createElement('p');
            var messagedivArr = document.createElement('div');
            var messagedivKakko = document.createElement('div');
            var messageP = document.createElement('p');

            messageImage.classList.add('profile');
            messageName.classList.add('user_name');
            messagedivArr.classList.add('arrow');
            messagedivKakko.classList.add('kakko');
            messageImage.src = data.image_path;
            messageImage.width = 50;
            messageImage.height = 50;
            messageName.innerHTML = data.name;
            messageP.innerHTML = data.message;

            messagedivKakko.appendChild(messageP);
            messagediv.appendChild(messageImage);
            messagediv.appendChild(messageName);
            messagediv.appendChild(messagedivArr);
            messagelog.appendChild(messagedivKakko);
            $('.input_field').val('');

            $('body').delay(100).animate({
                scrollTop: $(document).height()
            }, 150);
        }
    });
</script>

<div class="wrapper">
  <div id='messagelog' class="planeex">
    <% unless @foods.nil? %>
        <% @foods.each do |food| %>
            <div class="chat-parent">
              <% if food.user.id != current_user.id %>
                  <% if food.user.image? %>
                      <%= image_tag(food.user.image.thumb.url, size: '50x50', :class => "profilepic") %>
                  <% else %>
                      <%= image_tag 'thumb_default.png', size: '50x50', :class => "profilepic" %>
                  <% end %>
                  <p class="user_name">
                    <%= food.user.name %>
                  </p>

                  <div class="arrow"></div>
                  <div class="kakko">
                    <p><%= food.message %></p>
                  </div>
              <% else %>
                  <div class="arrow"></div>
                  <div class="jibun">
                    <p><%= food.message %></p>
                  </div>
              <% end %>
            </div>
        <% end %>
    <% end %>
  </div>
</div>

<%= form_tag('/post', :remote => true, :class => 'ws_form navbar-form navbar-left posi-btn') do %>
    <div class="input_field_block">
      <%= hidden_field_tag 'talk_id', @talk_id %>
      <%= text_area_tag 'message', '', id: 'txt_a', class: 'input_field' %>
      <%= submit_tag '送信', id: 'submit submit-btn', class: 'btn-s posi-submit btn-primary' %>
    </div>
<% end %>
