<div class="text-center">
  <div class="logo">アカウント設定</div>
  <!-- Main Form -->
  <div class="edit-user-form1">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, id: 'login-form', class: 'text-left'}) do |f| %>
        <%= devise_error_messages! %>
        <div class="login-form-main-message"></div>
        <div class="main-login-form">
          <div class="login-group">
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :nearest_station %>
              <%= f.text_field :nearest_station, class: 'form-control' %>
            </div>
            <div class="field form-group">
              <%= f.label :image %>
              <div class="profile-img">
                <% if @user.image? %>
                    <%= image_tag @user.image.url, size: '200x200' %>
                <% else %>
                    <%= image_tag 'default.png', size: '200x200' %>
                <% end %>
              </div>
              <%= f.file_field :image, class: 'form-control' %>
              <%= f.hidden_field :image_cache %>
            </div>
            <div class="field">
              <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
              <% if @user.persisted? && @user.image? %>
                  <label>
                    <%= f.check_box :remove_image %>
                    画像を削除
                  </label>
              <% end %>
            </div>
            <div class="field profile-sex form-group">
              <%= f.label :sex %>
              <%= f.select :sex, User.sex.options %>
            </div>

            <%- if devise_mapping.confirmable? && resource.pending_reconfirmation? -%>
                <p>
                  <%= t('.currently_waiting_confirmation_for_email', :email => resource.unconfirmed_email, :default => "Currently waiting confirmation for: %{email}") %>
                </p>
            <%- end -%>


            <div class="form-group">
              <%= f.label '新しいパスワード' %>
              <i>( パスワードを変更する場合のみ )</i>
              <%= f.password_field :password, :autocomplete => "off", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label '新しいパスワード(確認)' %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :current_password %>
              <%= f.password_field :current_password, class: 'form-control' %>
            </div>

            <div class="form-group override-padding">
              <%= f.submit '更新', class: 'btn-primary btn submit-btn' %>
            </div>
          </div>
        </div>
    <% end %>
  </div>

</div>
<div class="links-block">
  <p><%= link_to t('.cancel_my_account', :default => "Cancel my account"), registration_path(resource_name), :data => {:confirm => t('.are_you_sure', :default => "Are you sure?")}, :method => :delete %></p>

  <p><%= link_to t('devise.shared.links.back', :default => "Back"), :back %></p>
</div>