<%= form_for(@talk, :url => {:action => 'update'}) do |f| %>
    <% if @talk.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@talk.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @talk.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.hidden_field :id %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :detail %><br>
      <%= f.text_area :detail %>
    </div>
    <div class="field">
      <% if @talk.image? %>
          <div class="thumbnail">
            <%= image_tag @talk.image.url, size: '200x200' %>
          </div>
      <% end %>
      <%= f.label :image %><br>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>

    <div class="actions">
      <%= f.submit '編集' %>
    </div>
<% end %>
