<div class="text-center">
  <div class="edit-user-form1">

    <%= form_for(@talk, :url => {:action => 'update'}, html: {id: 'login-form', class: 'text-left'}) do |f| %>
        <% if @talk.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@talk.errors.count, "error") %> 件のエラーが発生しました</h2>

              <ul>
                <% @talk.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="main-login-form">
          <div class="login-group">

            <%= f.hidden_field :id %>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :detail %>
              <%= f.text_area :detail, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :image %>
              <% if @talk.image? %>
                  <div class="thumbnail">
                    <%= image_tag @talk.image.url, size: '200x200' %>
                  </div>
              <% end %>
              <%= f.file_field :image, class: 'form-control' %>
              <%= f.hidden_field :image_cache %>
            </div>

            <div class="actions">
              <%= f.submit '編集', class: 'btn-primary btn submit-btn' %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
