<script>
    $(function () {
        $(document).on('click', '.card-user-edit', function () {
            console.log('click');
            if ($(this).children("div").hasClass("click-link-hidden")) {
                $(this).children("div").removeClass("click-link-hidden").addClass("click-link-display");
            } else {
                $(this).children("div").removeClass("click-link-display").addClass("click-link-hidden");
            }
            $('body').addClass('close-area');
        });
    });
    $(function () {
        $(document).on('click', '.close-area', function () {
            console.log('after click');
            $('.card-user-edit').children('div').removeClass("click-link-display").addClass("click-link-hidden");
            $('body').removeClass('close-area');
        });
    });
</script>

<div class="talks-wrap">
  <div class="wrapper">
    <%= form_tag('/search') do %>
    <div class="input-group">
      <input type="text" class="form-control" name="word" placeholder="◯◯◯を検索">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class='glyphicon glyphicon-search'></i>
          </button>
        </span>
    </div>
    <% end %>
    <div class="labels">
      <p>タグで絞り込み→
        <a href="/talks/sep" class="label label-danger">分ける</a>
        <a href="/talks/col" class="label label-success">集まる</a>
        <a href="/talks/kno" class="label label-default">知る</a>
      <%= link_to 'X', main_path, class: 'label label-default label-delete' %></p>
    </div>
  </div>
<% unless @talks.size == 0 %>
  <ul class="card-talks">
    <% @talks.each do |t| %>
        <li class="card-talk">
          <a href="/talks/show/<%= t.id.to_s %>">
            <div class="img-block">
              <% if t.user.image? %>
                  <%= image_tag t.user.image.url, size: '100x100', class: 'card-img' %>
              <% else %>
                  <%= image_tag 'default.png', size: '100x100', class: 'card-img' %>
              <% end %>
            </div>
            <div class="content-block">
              <div class="card-title">
                <%= title_cut t.title %>
              </div>

              <div class="card-name">
                @<%= t.user.name %>
              </div>

              <div class="card-datetime">
                タグ: <%= t.tag %>
              </div>

              <div class="card-nearest-station">
                最寄駅: <%= t.user.nearest_station %>
              </div>

              <div class="card-datetime">
                作成日時: <%= t.created_at.strftime('%Y/%m/%d %H:%M') %>
              </div>
            </div>
            <div class="card-user-edit">
              <% if t.user_id == current_user.id %>
                  <a href="#" class="link-user-edit"><%= image_tag('arrow.png', size: '15x13') %></a>

                  <div class="click-link click-link-hidden">
                    <p class="link-block"><%= link_to 'この投稿を編集', '/talks/edit/' + t.id.to_s, class: 'link-text  glyphicon glyphicon-pencil' %></p>

                    <p class="link-block "><%= link_to 'この投稿を削除', '/talks/destroy/' + t.id.to_s, class: 'link-text  glyphicon glyphicon-minus-sign' %></p>
                  </div>
              <% end %>
            </div>
          </a>
        </li>
    <% end %>
  </ul>
</div>
<% else %>
  <div class="card-talks nothing-talk">投稿がありません</div>
<% end  %>